.experience{
    width: var(--page-width);
    border: 0px solid red;
}
.experience .eperience_Top{
    display: flex;
    justify-content: space-between;
    margin-top: 3.0rem;
}

.experience .eperience_Top .tower{
    margin-left: 23.42rem;
    display: flex;
    align-items: end;
    gap: 2.988rem;
    position: relative;
}

.experience .eperience_Top .tower #imagee1{
    width: 29.1rem;
    height: 26.4rem;
}

.experience .eperience_Top .tower #imagee2{
    width: 20.6rem;
    height: 20.6rem;
    
}

.experience .eperience_Top .tower #imagee3{
    width: 22.5rem;
    height: 22.5rem;
    position: absolute;
    top: 0.5rem;
    left: 38.5rem;
}

.experience .eperience_Top .star{
    margin-right: 12.0rem;
    width: 6.3rem;
    height: 6.3rem;
    margin-top: -2.0rem;
}

.experience .eperience_Down{
    position: relative;
}

.experience .eperience_Down #imagee4{
    width: 55.3rem;
    height: 40.4rem;
    margin-left: 31.15rem;
    
    margin-top: 3.6rem;
}
.experience .eperience_Down #imagee5{
    width: 24.4rem;
    height: 23.654rem;
    position: absolute;
    left: 44.5rem;
    top: -1.85rem;
    border: 0px solid red;
    
}

.experience .our_about{
    display:flex;
    gap: 7.1rem;
}

.experience .our_about .learnSkill h3{
    width: 15.553rem;
    height: 3.2rem;
    padding: 0 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E2FF;
    color: var(--secondary);
    font-family: Sora;
    font-weight: 400;
    font-size: 1.4rem;
}

.experience .our_about .learnSkill .skill{
    width: 57.459rem;
    height: 11.7rem;
    font-family: Epilogue;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.85rem;
    color: var(--primary);
    border: 0px solid red;
    margin: 2.5rem 0;
  
}

.experience .our_about .learnSkill .lorem{
    width: 66.833rem;
    height: 9.69rem;
    font-family: Sora;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 3.23rem;
    margin: 2.579rem 0;
}

.experience .our_about .learnSkill .flexible{
    display: flex;
    gap: 5.0rem;
}

.experience .our_about .learnSkill .flexible h2{
    width: 20.116rem;
    height: 1.87rem;
    font-family: Epilogue;
    font-weight: 700;
    font-size: 1.7rem;
}

.experience .our_about .learnSkill .flexible p{
    width: 30.361rem;
    height: 9.6rem;
    font-family: Sora;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 3.2rem;
    margin-bottom: 3.1rem;
}

.experience .learnSkill_banner{
    background-image: url("../../assets/Images/backgroundBanner.svg");
    width: var(--page-width);
    height: 17.6rem;
    margin-top: 33.7rem;
}